# Lab 2 - Exploratory Data Analysis

Make comments along the way/ explaining what I am doing / changing (brief explanation)

In [2]:
import pandas as pd

## 1. Import Data

In [3]:
df = pd.read_csv('imdb-videogames.csv')

## 2. Inspect a Portion of the Dataset

In [4]:
df.head(5)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [5]:
df.tail(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20795,20793,Boku wa kyoumo kimi o korosu,https://www.imdb.com/title/tt6010652/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20796,20794,Find Me Event,https://www.imdb.com/title/tt2619050/?ref_=adv...,2011.0,NaN,NaN,NaN,"Days after being kidnapped and tortured, Denni...",False,False,False,False,False,False,False,False,True
20797,20795,Spooks,https://www.imdb.com/title/tt4965776/?ref_=adv...,2017.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20798,20796,Bite Marks,https://www.imdb.com/title/tt2797224/?ref_=adv...,2012.0,NaN,NaN,NaN,A demonologist gets in over his head while mak...,False,False,False,False,False,False,False,False,False
20799,20797,Requiem,https://www.imdb.com/title/tt4396968/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 3. Shape and Basic Info about the Dataset

In [6]:
df.shape

(20805, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [8]:
df.describe()

         Unnamed: 0          year
count  20805.000000  20538.000000
mean   10400.066667   2005.567485
std     6005.918897     11.846001
min        0.000000   1952.000000
25%     5199.000000   1997.000000
50%    10400.000000   2008.000000
75%    15601.000000   2016.000000
max    20802.000000   2027.000000

In [9]:
df.votes.unique()

array(['20,759', '35,703', '59,986', ..., '5,029', '1,357', '3,025'],
      dtype=object)

## 4. Look for Duplicates

In [10]:
df.duplicated().sum()

2

dropping any of the duplicates that can be found in the dataframe

In [11]:
df.drop_duplicates(inplace=True)
df

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

ran duplicated again (checking the dataframe for any duplicates) to make sure they were removed

In [12]:
df.duplicated().sum()

0

## 5. Fix Types

allows me to see info (types) about the columns and see the nulls

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  object
 6   votes         11600 non-null  object
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.6+ MB

Convert votes to numeric data type

first run .types to see the type

In [14]:
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating           object
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

In [15]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

getting rid of the commas in votes so we can convert votes type to float (had to use str because it's an object datatype right now)
put df.head at the bottom to make sure that the type replace was made

In [16]:
df['votes'] = df['votes'].str.replace(',','')
#df
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,20759,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35703,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,59986,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,26118,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,28722,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

to convert votes to numeric type (cont.)
putting df.info() to make sure votes datatypes is being updated and will be shown in the info of the dataframe

In [17]:
df.votes = pd.to_numeric(df.votes)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  object
 6   votes         11600 non-null  float64
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(2), int64(1), object(5)
memory usage: 1.6+ MB

## 6. Drop and Rename Columns

changing some of the names to uppercase and see if any of the columns could be dropped

First we are gonna call all the columns so we can look at the names (see what needs to be changed)

In [18]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

changing names of the columns (making them all capitalized); did this so I could change all the names at once

In [19]:
df.columns = ['Unnamed: 0','Name', 'URL', 'Year', 'Certificate', 'Rating', 'Votes',
       'Plot Summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller']

df.columns

Index(['Unnamed: 0', 'Name', 'URL', 'Year', 'Certificate', 'Rating', 'Votes',
       'Plot Summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

the code underneath is for dropping one of the columns because it is unnecessary (unnamed: 0)

In [20]:
df = df.drop(['Unnamed: 0'], axis=1)
df

,Name,URL,Year,Certificate,Rating,Votes,Plot Summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,20759.0,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35703.0,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,59986.0,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,26118.0,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,28722.0,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 7. Fix Nulls

Give narrative to what null change I choose

In [36]:
df[(df.Rating.isnull()) & (~df.Votes.isnull())]
#df[(df.Rating.isnull()) & (df.Votes.notna())]

,Name,URL,Year,Certificate,Rating,Votes,Plot Summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
15,God of War: Ragnarök,https://www.imdb.com/title/tt13119450/?ref_=ad...,2022.0,M,NaN,0.0,Kratos and his son Atreus face the oncoming No...,True,True,False,False,False,False,False,False,False
40,Squadron 42,https://www.imdb.com/title/tt5194726/?ref_=adv...,0.0,0,NaN,0.0,Take the role of a rookie UEE Navy combat pilo...,True,False,False,False,False,False,False,True,False
65,Forspoken,https://www.imdb.com/title/tt12497068/?ref_=ad...,2023.0,M,NaN,0.0,A young woman named Frey Holland awakens in th...,True,True,False,False,False,True,False,False,False
75,Spider-Man 2,https://www.imdb.com/title/tt15399898/?ref_=ad...,2023.0,T,NaN,0.0,"Plot unknown. A sequel to the 2018 game ""Spide...",True,True,False,True,False,False,False,False,False
83,Gotham Knights,https://www.imdb.com/title/tt12948838/?ref_=ad...,2022.0,T,NaN,0.0,"Batman is dead. A new expansive, criminal unde...",True,True,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,0,NaN,0.0,Add a Plot,False,False,False,False,False,False,False,False,True
20801,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,0,NaN,0.0,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,0,NaN,0.0,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,0,NaN,0.0,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,0,NaN,0.0,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

to see what columns have nulls in them

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          20803 non-null  object
 1   URL           20803 non-null  object
 2   Year          20536 non-null  float64
 3   Certificate   7903 non-null   object
 4   Rating        11600 non-null  object
 5   Votes         11600 non-null  float64
 6   Plot Summary  20803 non-null  object
 7   Action        20803 non-null  bool
 8   Adventure     20803 non-null  bool
 9   Comedy        20803 non-null  bool
 10  Crime         20803 non-null  bool
 11  Family        20803 non-null  bool
 12  Fantasy       20803 non-null  bool
 13  Mystery       20803 non-null  bool
 14  Sci-Fi        20803 non-null  bool
 15  Thriller      20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 2.0+ MB

this is for filling nulls (from all the different columns)
don't fill the Nans for rating or certificate because 0 for rating would skew the math values and if you put a 0 for certificate it would not make sense for the dataframe because its a string object (doesn't work for the values)

In [40]:
df.Votes.fillna(0, inplace=True)
#df.Year.fillna(0, inplace=True)

runnining to check the nulls in all the different columns

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          20803 non-null  object
 1   URL           20803 non-null  object
 2   Year          20803 non-null  float64
 3   Certificate   20803 non-null  object
 4   Rating        11600 non-null  object
 5   Votes         20803 non-null  float64
 6   Plot Summary  20803 non-null  object
 7   Action        20803 non-null  bool
 8   Adventure     20803 non-null  bool
 9   Comedy        20803 non-null  bool
 10  Crime         20803 non-null  bool
 11  Family        20803 non-null  bool
 12  Fantasy       20803 non-null  bool
 13  Mystery       20803 non-null  bool
 14  Sci-Fi        20803 non-null  bool
 15  Thriller      20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

## 8. Summarize Categorical Columns

In [ ]:
df.columns

Index(['Name', 'URL', 'Year', 'Certificate', 'Rating', 'Votes', 'Plot Summary',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

not what sure this section is about

In [ ]:
df.Action.value_counts()

True     11930
False     8873
Name: Action, dtype: int64

## 9. Summarize Numeric Columns

gives a brief overview of the numerical columns

In [ ]:
df.describe()

               Year         Votes
count  20803.000000  20803.000000
mean    1979.827765    351.629573
std      226.060653   2042.666328
min        0.000000      0.000000
25%     1996.000000      0.000000
50%     2007.000000      9.000000
75%     2016.000000     61.000000
max     2027.000000  60597.000000