# Lab 2 - Exploratory Data Analysis

Make comments along the way/ explaining what I am doing / changing (brief explanation)

In [247]:
import pandas as pd

## 1. Import Data

In [248]:
df = pd.read_csv('imdb-videogames.csv')

## 2. Inspect a Portion of the Dataset

Allows me to look at some of the first and last datasets. (Get an idea of what the information looks like)

In [249]:
df.head(5)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [250]:
df.tail(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20795,20793,Boku wa kyoumo kimi o korosu,https://www.imdb.com/title/tt6010652/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20796,20794,Find Me Event,https://www.imdb.com/title/tt2619050/?ref_=adv...,2011.0,NaN,NaN,NaN,"Days after being kidnapped and tortured, Denni...",False,False,False,False,False,False,False,False,True
20797,20795,Spooks,https://www.imdb.com/title/tt4965776/?ref_=adv...,2017.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20798,20796,Bite Marks,https://www.imdb.com/title/tt2797224/?ref_=adv...,2012.0,NaN,NaN,NaN,A demonologist gets in over his head while mak...,False,False,False,False,False,False,False,False,False
20799,20797,Requiem,https://www.imdb.com/title/tt4396968/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 3. Shape and Basic Info about the Dataset

This let's me so how many rows and columns there are.

In [251]:
df.shape

(20805, 17)

Can use this to see the different columns, their value types, and the amount of non-nulls each of them have.

In [252]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

The different math outputs with the values in the dataframe.

In [253]:
df.describe()

         Unnamed: 0          year
count  20805.000000  20538.000000
mean   10400.066667   2005.567485
std     6005.918897     11.846001
min        0.000000   1952.000000
25%     5199.000000   1997.000000
50%    10400.000000   2008.000000
75%    15601.000000   2016.000000
max    20802.000000   2027.000000

In [254]:
df.votes.unique()

array(['20,759', '35,703', '59,986', ..., '5,029', '1,357', '3,025'],
      dtype=object)

## 4. Look for Duplicates

Looking for duplicates and the amount that can be found; that's why we use the sum part.

In [255]:
df.duplicated().sum()

2

This is for dropping any of the duplicates that can be found in the dataframe.

In [256]:
df.drop_duplicates(inplace=True)
df

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

Ran duplicated again (checking the dataframe for any duplicates) to make sure they were removed.

In [257]:
df.duplicated().sum()

0

## 5. Fix Types

Allows me to see info (types) about the columns and see the nulls.

In [258]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  object
 6   votes         11600 non-null  object
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.6+ MB

Convert votes to numeric data type

First run .types to see the type.

In [259]:
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating           object
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

In [260]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

Getting rid of the commas in votes so we can convert votes type to float (had to use str because it's an object datatype right now). Then I put df.head at the bottom to make sure that the type replace was made.

In [261]:
df['votes'] = df['votes'].str.replace(',','')
#df
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,20759,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35703,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,59986,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,26118,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,28722,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

To convert votes to numeric type (cont.)
Putting df.info() to make sure votes datatypes is being updated and will be shown in the info of the dataframe.

In [262]:
df.votes = pd.to_numeric(df.votes)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  object
 6   votes         11600 non-null  float64
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(2), int64(1), object(5)
memory usage: 1.6+ MB

Now we are going to remove the star from the rating column so we can change the type from object to a numeric type. I think rating should be a type because it would fit the data style a lot of better and makes more sense.

Ran a rating.value_counts so I could see what the star looked like in the data frame (was a visual representation for myself)

In [263]:
df.rating.value_counts()

7.4     493
7.5     470
7.6     452
7.2     450
7.8     442
       ...
1.3       3
1.5       3
1.4       1
*9.0      1
1.0       1
Name: rating, Length: 87, dtype: int64

In [264]:
df['rating'] = df['rating'].str.replace('*','')
df.rating.value_counts()

C:\Users\kodom\AppData\Local\Temp\ipykernel_9988\1178459733.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rating'] = df['rating'].str.replace('*','')

7.4    493
7.5    470
7.6    452
7.2    450
7.8    442
      ...
1.7      4
1.5      3
1.3      3
1.4      1
1.0      1
Name: rating, Length: 86, dtype: int64

Now that I see the star has been removed from the rating column I want to change it to a numeric type.

In [265]:
df.rating = pd.to_numeric(df.rating)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  float64
 6   votes         11600 non-null  float64
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(3), int64(1), object(4)
memory usage: 1.6+ MB

## 6. Drop and Rename Columns

Changing some of the names to uppercase and see if any of the columns could be dropped. (This just cleans up the dataframe and makes things look better)

First we are gonna call all the columns so we can look at the names (see what needs to be changed).

In [266]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

Changing names of the columns (making them all capitalized); did this so I could change all the names at once.

In [267]:
df.columns = ['Unnamed: 0','Name', 'URL', 'Year', 'Certificate', 'Rating', 'Votes',
       'Plot_Summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci_Fi', 'Thriller']

df.columns

Index(['Unnamed: 0', 'Name', 'URL', 'Year', 'Certificate', 'Rating', 'Votes',
       'Plot_Summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci_Fi', 'Thriller'],
      dtype='object')

The code underneath is for dropping one of the columns because I found it unnecessary (unnamed: 0).

In [268]:
df = df.drop(['Unnamed: 0'], axis=1)
df

,Name,URL,Year,Certificate,Rating,Votes,Plot_Summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci_Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,20759.0,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35703.0,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,59986.0,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,26118.0,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,28722.0,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

Next I am going to remove the star from rating so I then convert the rating column to a numeric type. This would make more sence for the type of data that is in this column.

## 7. Fix Nulls

Give narrative to what null change I choose

In [269]:
df[(df.Rating.isnull()) & (~df.Votes.isnull())]
#df[(df.Rating.isnull()) & (df.Votes.notna())]

Empty DataFrame
Columns: [Name, URL, Year, Certificate, Rating, Votes, Plot_Summary, Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci_Fi, Thriller]
Index: []

Doing this to see what columns have nulls in them.

In [270]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          20803 non-null  object
 1   URL           20803 non-null  object
 2   Year          20536 non-null  float64
 3   Certificate   7903 non-null   object
 4   Rating        11600 non-null  float64
 5   Votes         11600 non-null  float64
 6   Plot_Summary  20803 non-null  object
 7   Action        20803 non-null  bool
 8   Adventure     20803 non-null  bool
 9   Comedy        20803 non-null  bool
 10  Crime         20803 non-null  bool
 11  Family        20803 non-null  bool
 12  Fantasy       20803 non-null  bool
 13  Mystery       20803 non-null  bool
 14  Sci_Fi        20803 non-null  bool
 15  Thriller      20803 non-null  bool
dtypes: bool(9), float64(3), object(4)
memory usage: 1.4+ MB

Leaving year as Nans instead of changing it to a 0 because by changing them it would impact the math that could be done on that column. Possible skewing and messing up the average and mean.

In [271]:
df.Rating.fillna("Unrated", inplace=True)
df

,Name,URL,Year,Certificate,Rating,Votes,Plot_Summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci_Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,20759.0,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35703.0,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,59986.0,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,26118.0,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,28722.0,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,Unrated,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,Unrated,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,Unrated,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,Unrated,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,Unrated,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

This is for filling nulls (from all the different columns)
don't fill the Nans for rating or certificate because 0 for rating would skew the math values and if you put a 0 for certificate it would not make sense for the dataframe because its a string object (doesn't work for the values).

In [272]:
df.Votes.fillna(0, inplace=True)
#df.Year.fillna(0, inplace=True)

runnining to check the nulls in all the different columns

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          20803 non-null  object
 1   URL           20803 non-null  object
 2   Year          20536 non-null  float64
 3   Certificate   7903 non-null   object
 4   Rating        20803 non-null  object
 5   Votes         20803 non-null  float64
 6   Plot_Summary  20803 non-null  object
 7   Action        20803 non-null  bool
 8   Adventure     20803 non-null  bool
 9   Comedy        20803 non-null  bool
 10  Crime         20803 non-null  bool
 11  Family        20803 non-null  bool
 12  Fantasy       20803 non-null  bool
 13  Mystery       20803 non-null  bool
 14  Sci_Fi        20803 non-null  bool
 15  Thriller      20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

## 8. Summarize Categorical Columns

Calling the column and their data types to figure out which columns I need to look into for this section.

In [274]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          20803 non-null  object
 1   URL           20803 non-null  object
 2   Year          20536 non-null  float64
 3   Certificate   7903 non-null   object
 4   Rating        20803 non-null  object
 5   Votes         20803 non-null  float64
 6   Plot_Summary  20803 non-null  object
 7   Action        20803 non-null  bool
 8   Adventure     20803 non-null  bool
 9   Comedy        20803 non-null  bool
 10  Crime         20803 non-null  bool
 11  Family        20803 non-null  bool
 12  Fantasy       20803 non-null  bool
 13  Mystery       20803 non-null  bool
 14  Sci_Fi        20803 non-null  bool
 15  Thriller      20803 non-null  bool
dtypes: bool(9), float64(2), object(5)
memory usage: 1.4+ MB

In [275]:
df.columns

Index(['Name', 'URL', 'Year', 'Certificate', 'Rating', 'Votes', 'Plot_Summary',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci_Fi', 'Thriller'],
      dtype='object')

Looking into the different value_counts of all the categorical columns.

In [276]:
df.Action.value_counts()

True     11930
False     8873
Name: Action, dtype: int64

In [277]:
df.Adventure.value_counts()

False    10469
True     10334
Name: Adventure, dtype: int64

In [278]:
df.Comedy.value_counts()

False    19020
True      1783
Name: Comedy, dtype: int64

In [279]:
df.Crime.value_counts()

False    19908
True       895
Name: Crime, dtype: int64

In [280]:
df.Family.value_counts()

False    17928
True      2875
Name: Family, dtype: int64

In [281]:
df.Fantasy.value_counts()

False    16453
True      4350
Name: Fantasy, dtype: int64

In [282]:
df.Mystery.value_counts()

False    19618
True      1185
Name: Mystery, dtype: int64

In [283]:
df.Thriller.value_counts()

False    20280
True       523
Name: Thriller, dtype: int64

In [284]:
df.Sci_Fi.value_counts()

False    17213
True      3590
Name: Sci_Fi, dtype: int64

The other columns (not the different movie genres)

In [285]:
df.Name.value_counts()

Spider-Man                        9
God of War                        6
Sonic the Hedgehog                6
Star Trek                         6
Resident Evil 2                   5
                                 ..
Elevator Action                   1
Nobuyuki Forces 4                 1
Cross Fire: king of gun battle    1
Duke: Nuclear Winter              1
Cryptic                           1
Name: Name, Length: 19714, dtype: int64

In [286]:
df.URL.value_counts()

https://www.imdb.com/title/tt5807780/?ref_=adv_li_tt     4
https://www.imdb.com/title/tt6298000/?ref_=adv_li_tt     4
https://www.imdb.com/title/tt1764429/?ref_=adv_li_tt     4
https://www.imdb.com/title/tt12693278/?ref_=adv_li_tt    4
https://www.imdb.com/title/tt9395474/?ref_=adv_li_tt     4
                                                        ..
https://www.imdb.com/title/tt0475078/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt8170768/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt8051086/?ref_=adv_li_tt     1
https://www.imdb.com/title/tt13283136/?ref_=adv_li_tt    1
https://www.imdb.com/title/tt10964974/?ref_=adv_li_tt    1
Name: URL, Length: 20157, dtype: int64

In [287]:
df.Certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           227
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: Certificate, dtype: int64

In [288]:
df.Plot_Summary.value_counts()

Add a Plot                                                                                                                                                                                                                       8874
A Pokémon trainer adventures through the Kanto Region to achieve their destiny of becoming a Pokemon Champion.                                                                                                                      5
Zen Pinball features hit tables based on some of the biggest brands in entertainment, including Marvel Comics, Star Wars, ALIEN, The Walking Dead and more, Zen Pinball is your go-to place for all of your pinball cravings.       5
The player is the Stranger, an unknown person mysteriously transported to the island of Myst. Alone and without clues, the Stranger must solve the mysteries and discover the secrets of this strange place.                        5
When a new villain threatens New York City, Peter Parker and Spider-Man's worlds collide. To save the city and those he loves, he must rise up and be greater.                                                                      4
                                                                                                                                                                                                                                 ...
Set in a post-apocalyptic future, Armored Core 3 depicts a world where mankind has begun to live underneath the Earth's surface after a catastrophic global nuclear war broke out on the ... See full summary »                     1
Choose your side and enter a war for independence, Fight along side a Joint Force to neutralize the threat, or fight for independence as a separatist.                                                                              1
Kogama is a construction online game where you can create and share your own games, sell your creations on the market and play all types of games created by the community.                                                         1
Dungeons and Dragons: Chronicles of Mystara is an enhanced re-release of Dungeons and Dragons: Tower of Doom and Dungeons and Dragons: Shadow over Mystara. Besides the obvious differences ... See full summary »                  1
Kidnapped by an insane man and dragged into a dark crypt, your only choice is to play along with his twisted games or suffer the consequences for non-compliance.                                                                   1
Name: Plot_Summary, Length: 11276, dtype: int64

## 9. Summarize Numeric Columns

Gives a brief overview of the numerical columns.

In [289]:
df.describe()

               Year         Votes
count  20536.000000  20803.000000
mean    2005.568611    351.629573
std       11.846028   2042.666328
min     1952.000000      0.000000
25%     1997.000000      0.000000
50%     2008.000000      9.000000
75%     2016.000000     61.000000
max     2027.000000  60597.000000

In [290]:
df.Votes.value_counts()

0.0       9203
7.0        318
9.0        295
8.0        294
10.0       287
          ...
2325.0       1
5028.0       1
948.0        1
1253.0       1
3025.0       1
Name: Votes, Length: 1906, dtype: int64

In [291]:
df.Year.value_counts()

2019.0    956
2018.0    872
2017.0    863
2016.0    828
2015.0    761
         ...
1969.0      2
1962.0      2
1952.0      1
1964.0      1
2027.0      1
Name: Year, Length: 61, dtype: int64

In [292]:
df.Rating.value_counts()

Unrated    9203
7.4         493
7.5         470
7.6         452
7.2         450
           ...
1.7           4
1.5           3
1.3           3
1.4           1
1.0           1
Name: Rating, Length: 87, dtype: int64